.property-view {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  margin-bottom: 48px;
  margin-left: 70px;

}

.first-column {
  display: flex;
  align-items: center;
  gap: 48px;

}

.big-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5.806px;
  box-shadow: 0px 2.90318px 5.80636px 0px rgba(0, 0, 0, 0.25);
  width: 400px;
}

.property-pic {
  width: 400px;
  object-fit: cover;
  border-radius: 12.048px 12.048px 0px 0px;
}

.property-details {
  display: flex;
  padding: 14.458px 19.277px;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.277px;
  align-self: stretch;
  border-radius: 4.819px;
  background: rgba(237, 237, 245, 1);
  width: 361px;
}

.column1 {
  display: flex;
  width: 361.446px;
  align-items: center;
  gap: 49.398px;
}

.price {
  flex: 1 0 0;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: rgba(76, 70, 159, 1);
}

.location {
  display: flex;
  width: 146.988px;
  justify-content: flex-end;
  align-items: center;
  gap: 4.819px;
  flex-shrink: 0;
}

.address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgba(59, 70, 67, 1);
}

.column2 {
  height: 60.241px;
  align-self: stretch;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgba(59, 70, 67, 1);
}

.column3 {
  display: flex;
  align-items: center;
  gap: 19.277px;
}

.bedrooms {
  display: flex;
  align-items: center;
  gap: 4.819px;
}

.number-of-bedrooms {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgba(59, 70, 67, 1);
}

.bathrooms {
  display: flex;
  align-items: center;
  gap: 4.819px;
}

.number-of-bathrooms {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgba(59, 70, 67, 1);
}

.property-size {
  display: flex;
  align-items: center;
  gap: 4.819px;
}

.number-of-sq-mtr {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: rgba(59, 70, 67, 1);
}