.pagination {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  margin-left: 413px;
}

.pages {
  display: flex;
  align-items: center;
  gap: 8px;
}

.swipe-button {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: none;
  background-color: rgba(151, 148, 199, 1);

}

.current-page {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(76, 70, 159, 1);
}

.other-pages {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgba(76, 70, 159, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: rgba(76, 70, 159, 1);
}